@import "_normalize.css";
@import "_fonts.css";
@import "_variables.css";
@import "_vendor.css";
@import "_global.css";
@import "_overall.css";

/* components imports */

h1 {
	color: #a0a;
	margin-bottom: 50px;
}

p {
	color: green;
	padding: 50px;
}