@import "_normalize.css";
@import "_fonts.css";
@import "_variables.css";
@import "_vendor.css";
@import "_global.css";
@import "_overall.css";

/* components imports */

h1 {
  color: #aa00aa;
  margin-bottom: 50px;
}

p {
  color: #008000;
  padding: 50px 10px;
}
